.summary {
    color: #fff;
    border-left: 5px solid rgb(255, 0, 0);
    font-size: 16px;
}

/* Define the dark text color */
body {
    color: #fff;
}

/* Define the dark background color */
body {
    background-color: #333;
}

h3 {
    color: #fff;
}

h4 {
    color: #fff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #333;
    color: #fff;
}

.nav>li.active>a {
    background-color: #333;
}

.nav>li>a:hover {
    background-color: #333;
}

div.navbar-collapse .dropdown-menu>li>a:hover {
    background-color: #333;
}

.nav li.thirdlevel>a {
    background-color: #333 !important;
    color: #fff;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #333;
    border-color: #111;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: #f0f0f0;
}

.navbar-inverse .navbar-nav>li>a:hover,
a.fa.fa-home.fa-lg.navbar-brand:hover {
    color: #f0f0f0;
}

a.navbar-brand:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #333;
    color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #333 !important;
}

.btn-primary {
    color: #fff;
    background-color: #222222;
    border-color: #222222;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #222222;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #333333;
    border-color: #222222;
}

.printTitle {
    color: #111111 !important;
}

body.print h1 {
    color: #111111 !important;
    font-size: 28px !important;
}

body.print h2 {
    color: #333 !important;
    font-size: 20px !important;
}

body.print h3 {
    color: #dd2233 !important;
    font-size: 14px !important;
}

body.print h4 {
    color: #888888 !important;
    font-size: 14px;
    font-style: italic !important;
}

.anchorjs-link:hover {
    color: #444444;
}

div.sidebarTitle {
    color: #111111;
}

li.sidebarTitle {
    margin-top: 20px;
    font-weight: normal;
    font-size: 130%;
    color: #ED1951;
    margin-bottom: 10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #333;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
}

code {
    background-color: rgba(255, 255, 255, 0.1);
    color: #0366d6;
}

/* Define the dark border color for tables */

table {
    border-color: #222;
    background-color: #333;
    color: #FFF;
}

div#toc ul {
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
    color: #fff;
}

div#toc ul li {
    margin: 8px 0px 8px 22px;
    font-size: 90%;
    list-style: square;
}

div#toc ul li ul {
    padding-left: 8px;

}

div#toc ul li ul li::before {
    content: "–  ";
}

div#toc>ul::before {
    content: "Table of Contents";
    /* font-weight: 500; */
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}


hr.shaded {
    height: 12px;
    border: 0;
    margin-top: 70px;
    background: #333;
    width: 100%;
    margin-bottom: 10px;
}

/* navgoco sidebar styles (customized) */
.nav,
.nav ul,
.nav li {
    list-style: none;
}

.nav ul {
    padding: 0;
    /*margin: 0 0 0 18px;*/
    margin: 0px;
}

.nav {
    /* padding: 4px;*/
    padding: 0px;
    margin: 0px;
}

.nav>li {
    margin: 1px 0;
}

.nav>li li {
    margin: 2px 0;
}

.nav a {
    color: #ccc;
    display: block;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    text-decoration: none;
}

.nav li>a>span {
    float: right;
    font-size: 19px;
    font-weight: bolder;
}


.nav li>a>span:after {
    content: '\25be';
    background-color: #444;
}

.nav li.active>a>span:after {
    content: '\25b4';
    background-color: #444;
}

.nav a:hover,
.nav li.active>a {
    background-color: #333;
    color: #347DBE;
}

.nav>li.active>a {
    background-color: #444;
}

.nav li a {
    font-size: 12px;
    line-height: 18px;
    padding: 2px 10px;
    background-color: #333;
}

.nav>li>a {
    font-size: 14px;
    line-height: 20px;
    padding: 4px 10px;
}

ul#mysidebar {
    border-radius: 0px;
}

.nav ul li ul li a {
    padding-left: 40px;
}

.nav li.thirdlevel>a {
    color: #248EC2;
    font-weight: bold;
    padding-left: 20px;
    background-color: #444 !important;
}


.nav ul li a {
    background-color: #333;
    color: #FFF
}

.nav li a {
    padding-right: 10px;
}

.nav li a:hover {
    background-color: #fff;
    color: #248EC2;
}

.nav ul li a {
    border-top: 1px solid #444;
    padding-left: 10px;
}

/* end sidebar */

/* Code blocks */

.highlight {
    background: #222222;
    color: #fff
}

.highlight .c {
    color: #999988;
    font-style: italic
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #FFF;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #222222;
    border: 1px solid #ccc;
    border-radius: 4px
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}
/* Comment */
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

/* Error */
.highlight .k {
    font-weight: bold
}

/* Keyword */
.highlight .o {
    font-weight: bold
}

/* Operator */
.highlight .cm {
    color: #999988;
    font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
    color: #999999;
    font-weight: bold
}

/* Comment.Preproc */
.highlight .c1 {
    color: #999988;
    font-style: italic
}

/* Comment.Single */
.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* Comment.Special */
.highlight .gd {
    color: #ffffff;
    background-color: #ffdddd
}

/* Generic.Deleted */
.highlight .gd .x {
    color: #ffffff;
    background-color: #ffaaaa
}

/* Generic.Deleted.Specific */
.highlight .ge {
    font-style: italic
}

/* Generic.Emph */
.highlight .gr {
    color: #aa0000
}

/* Generic.Error */
.highlight .gh {
    color: #999999
}

/* Generic.Heading */
.highlight .gi {
    color: #ffffff;
    background-color: #ddffdd
}

/* Generic.Inserted */
.highlight .gi .x {
    color: #ffffff;
    background-color: #aaffaa
}

/* Generic.Inserted.Specific */
.highlight .go {
    color: #888888
}

/* Generic.Output */
.highlight .gp {
    color: #555555
}

/* Generic.Prompt */
.highlight .gs {
    font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
    color: #aaaaaa
}

/* Generic.Subheading */
.highlight .gt {
    color: #aa0000
}

/* Generic.Traceback */
.highlight .kc {
    font-weight: bold
}

/* Keyword.Constant */
.highlight .kd {
    font-weight: bold
}

/* Keyword.Declaration */
.highlight .kp {
    font-weight: bold
}

/* Keyword.Pseudo */
.highlight .kr {
    font-weight: bold
}

/* Keyword.Reserved */
.highlight .kt {
    color: #445588;
    font-weight: bold
}

/* Keyword.Type */
.highlight .m {
    color: #009999
}

/* Literal.Number */
.highlight .s {
    color: #d14
}

/* Literal.String */
.highlight .na {
    color: #008080
}

/* Name.Attribute */
.highlight .nb {
    color: #0086B3
}

/* Name.Builtin */
.highlight .nc {
    color: #445588;
    font-weight: bold
}

/* panel */
.panel {
    margin-bottom: 20px;
    background-color: #333;
    border: 1px solid transparent;
    border-radius: 4px;
}

.panel-body {
    padding: 15px;
    background-color: #333;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #333;
}

.panel-heading>.dropdown .dropdown-toggle {
    color: inherit
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #333;
    border-color: #ddd
}

/* Tab-content */
.tab-content {
    padding: 15px;
    background-color: #333;
}
.col-lg-12 .nav li a {
    background-color: #333
}


/* Button */
/* 
button[data-mode] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  
  button[data-mode] img {
    width: 24px;
    height: 24px;
    display: none;
    fill: currentColor;
  }
  
  button[data-mode].light-icon {
    display: block;
  }
  
  body.dark-mode button[data-mode] img {
    fill: white;
  } */
  
  